@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
*, *::after, *::before{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #fff;
}
.container{
    width: 100%;
    max-width: 690px;
    margin: 0 auto;
    padding: 0 20px;
}
img{
    width: 0;
    height: 0;
}
a{
    text-decoration: none;
}

/* Header CSS */
.t_header{
    width: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 0 9px 0;
    background-color: #fff;
}
.header_inner{
    width: 100%;
    max-width: 690px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}
.t_brand-a{
    display: flex;
    align-items: center;
    gap: 8px;
}
.t_brand-img{
    width: auto;
    height: 35px;
}
.t_brand-title{
    color: #000;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 1px;
}


/* Style Index & archive */
.teraPosts{
    margin-top: 2rem;
    width: 100%;
    display: block;
}
.teraPost-hero{
    margin-bottom: 2rem;
}
.teraPost-hero, .teraHero-a, .teraHero-block{
    position: relative;
    display: block;
}
.teraHero-img{
    width: 100%;
    height: 350px;
    object-position: center;
    object-fit: cover;
    border-radius: 20px;
}
.teraHero-body,
.head_absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 90px auto;
    gap: 1rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.teraHero-icon,
.single_icon{
    width: 90px;
    height: 90px;
    object-position: center;
    object-fit: cover;
    border-radius: 20px;
}
.teraHero-title{
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 5px;
}
.rating{
    color: #dbdbdb;
    font-size: 14px;
    font-weight: 400;
}
.grid-2{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.grid-90-auto{
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 90px auto;
    gap: 1rem;
}
.grid-a .grid-img{
    width: 90px;
    height: 90px;
    object-position: center;
    object-fit: cover;
    border-radius: 20px;
}
.grid-body-a{
    color: #000;
    text-decoration: none;
}
.grid-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 8px;
}
.meta-block{
    font-size: 14px;
    font-weight: 400;
}
.rating-star{
    display: block;
    margin-bottom: 3px;
}



/* Single Posts */
.single-post,
.head_post,
.head_top{
    display: block;
    position: relative;
}
.head_top{
    margin-bottom: 1rem;
}
.full_img{
    position: relative;
    width: 100%;
    height: 350px;
    object-position: center;
    object-fit: cover;
    border-radius: 20px;
}
.head_absolute{
    align-items: center;
}
.single_title{
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.2;
}
.app_info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:  1rem;
    text-align: center;
    align-items: center;
    margin-bottom: 1.5rem;
}
.data_star,
.data_download{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.toppers{
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
    line-height: 1;
}
.infos{
    font-size: 14px;
    color: #666;
}
a.appLink{
    width: 100%;
    display: block;
    text-align: center;
    background-color: #01875f;
    color: #fff;
    padding: 13px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.body_post{
    display: block;
}
.section_title{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    font-size: 22px;
    font-weight: 600;
    color: #222;
}
.content_inner p,
.data_safety{
    color: #444;
    line-height: 2;
    margin-bottom: 25px;
    font-size: 16px;
}
.body_post{
    margin-bottom: 2rem;
}
.appUpdate{
    margin-bottom: 1.5rem;
}
.updateOn{
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.appDate{
    color: #444;
    font-size: 14px;
}
.safety_box{
    display: block;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.box_data{
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.box_data:last-child {
    margin-bottom: 0;
}



/* Footer */






/* Tbalet====================================================
============================================================= */
@media(max-width:780px){

}





/* Mobile====================================================
============================================================= */
@media(max-width:580px){
    
}